@charset "utf-8";

div,h1,ul,li,h1,span,img,fieldset{margin:0; padding:0;}
img{border:0; vertical-align:top;}
ul,li{list-style:none;}
a{text-decoration:none;}
caption{display:none;}
fieldset, img{border:medium none;}
legend{font-size:0; height:0; left:0; line-height:0; overflow:hidden; padding:0; position:absolute; top:0; visibility:hidden; width:0;}
body {font-family: ³ª´®°íµñ, NanumGothic, ng, µ¸¿ò, arial, helvetica, sans-serif !important; font-size: 12px; line-height: 19px; color: #6f6f6f;}
html, body {height:100%;}
#wrapper{min-width:100%; position: relative;}
#header{width:1007px; height:142px; margin:0 auto; position: relative;}
#contents{width:940px; height:2600px; margin:0 auto; padding-top:46px; padding-bottom:200px; position: relative;}
#footer{margin:0 auto; padding-top:33px 0 0; position: relative; background: rgba(0, 0, 0, 0) url("../images/bg_footer.gif") repeat-x scroll left bottom; bottom: 0; font-size: 11px; height: 115px; left: 0; min-width: 940px; padding: 33px 0 0;}
#skipnavigation a{position:absolute; left:-3000%;}
#skipnavigation a:focus { display:block; left:0; top:0; z-index:10000000000; width:100%; height:30px; line-height:30px; background:#039; color:#fff; text-align:center;}
#skipnavigation a:link, a:visited{color: #fff; text-decoration: none;}

.header_inner .quickbanner{position: absolute; top:17px; left:0;}
.header_inner .quickbanner li{display:inline;}
.header_inner h1{margin:0 auto; padding:30px 0 25px 0; width:271px;}
.header_inner .utill{position: absolute; right:0; top:17px;}
.header_inner .utill li{float:left; margin-right: 12px; margin-top:3px;}
.header_inner .gnb{margin:0 auto; width:850px; padding:10px 0 0 0px; z-index:99999;}
.header_inner .gnb ul{padding:0 20px 0 4px;}
.header_inner .gnb ul li{float:left; position:relative; margin:0 0px 0 20px; }
.header_inner .gnb ul li a{color:#808080;}
.header_inner .gnb .first{width:100px;}
.header_inner .gnb .dep01{padding:0 0 0px 20px;}
.header_inner .gnb ul li ul li{float:none; width:900px; margin:10px 0 0 15px; padding-right:10px;} 
.header_inner .gnb ul li ul{position:absolute; width:140px; top:12px; left:1px; z-index:999; margin-top:30px;
height:250px;}
.depth02{background:url("../images/bg_2depth.gif")}

.nav{float:left; margin-right:50px; width:190px;}
.nav .nav_menu{line-height:100%;}
.nav .nav_menu li{margin-bottom:6px;}
.nav .nav_banner{border-bottom: 1px solid #d9d9d9; border-top: 1px solid #d9d9d9; margin: 50px 0 0; padding: 30px 0 10px; width: 190px;}

.content{float:left; height:100%; width: 700px;}
.content h2{margin: 16px 0 60px;}
.content img{vertical-align:top;}
.ah_copy_0{background: rgba(0, 0, 0, 0) url("../images/img_about_hollys.jpg") no-repeat scroll left top; height:402px; margin:0 0 27px; width:700px;}
.ah_copy_0 dl.hidden{color: #fff; font-size: inherit; height: inherit; overflow: inherit; line-height: inherit;
padding:31px 0 0 0px; visibility: inherit; width: inherit;}
.ah_copy_0 dl.hidden dt{font-size: 17px; height: 64px; line-height: 1.9em; padding:0 0 40px 40px;}
.ah_copy_0 dl.hidden dt strong{font-size:24px;}
.ah_copy_0 dl.hidden dd{font-size: 14px; line-height: 1.7em;}
.ah_copy_1{color:#505050; font-size:14px; letter-spacing:-1px; line-height:22px; margin:0 0 62px;}
.ah_copy_2{color:#6f6f6f; font-size:12px; letter-spacing:-1px; line-height:20px; overflow:hidden; padding:0 0 16px;}
.ah_copy_2 h3{color: #b5121b;font-size: 16px; font-weight: bold; letter-spacing: -1px; line-height: 26px; padding: 0 0 10px;}
.ah_copy_2 .floatleft{float:left; width: 349px;}
.ah_copy_2 .floatright{float:right; width: 331px;}
.mar_b_65{margin-bottom:65px;}





#footer .footerinner{line-height: 14px; margin: 0 auto; overflow: hidden; width: 940px; }
#footer .footerinner ul{}
#footer .footerinner a{color:#faeff0; text-decoration:none; padding:0 8px 0 4px;}
#footer .footerinner ul li{display:inline; border-right:1px solid #FFFFFF; padding-right:2px;}
#footer .footerinner ul li:last-child{border:none;}
#footer .footerinner p{line-height: 16px; margin-top: 23px; word-spacing: -1px; margin-bottom:0px; color:#de898e;}
#footer .footerinner address{font-weight: bold; color:#de898e;}